.ql-editor {
  min-height: 200px;
  background: white;
}

.dark .ql-editor {
  background: #1a1c23;
  color: #e5e7eb;
}

.dark .ql-toolbar {
  background: #1a1c23;
  border-color: #4c4f52;
}

.dark .ql-container {
  border-color: #4c4f52;
}

.dark .ql-stroke {
  stroke: #e5e7eb;
}

.dark .ql-fill {
  fill: #e5e7eb;
}

.dark .ql-picker {
  color: #e5e7eb;
}

.dark .ql-picker-options {
  background: #1a1c23;
} 