.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbs-swiper {
  padding: 10px 0;
}

.thumbs-swiper .swiper-slide {
  opacity: 0.4;
}

.thumbs-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #7e3af2 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
} 